/* ==================================
   = Non-viewport dependant styling =
   ================================== */

html {
    padding: 0;
    margin: 0;
    background-color: #eceeff;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    align-content: center;
    color: Red; /* c05 #a5abc5 */
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* --- Header --- */

header {
    align-content: center;

}

header a {
    display: inline-flex;
    color: #a5abc5;
    text-decoration: none;
    border-color: #c9d0e1; /* c02 */
    border-style: solid;
}

/* --- Main --- */

main {
    background-color: #fff;
}

h3, h4, legend { /* c04 */
    font-weight: bold;
    color: #6e768f;
}

h3 i {
    position: absolute;
    margin-left: -30px;
}

button span.invisible-text {
    display: none;
}

button.frameless {
    border: none;
    background-color: rgba(175, 175, 175, 0);
    cursor: pointer;
}

/* --- Standard UI controls --- */

/* Radio */
/* !!! dim >>> */
section.radio-row {
    display: flex;
    flex-flow: row wrap;
}
section > div {
    flex: 1;
    padding: 0.5rem;
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}
input[type="radio"]:disabled ~ label {
    color: #ccc;
    border-color: #d7d8e0;
    box-shadow: none;
    cursor: not-allowed;
}
label.radio {
    height: 100%;
    display: block;
    background: #f7f7fa;
    border: 1px solid #d7d8e0;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    /* margin: 1rem; */
    text-align: center;
    position: relative;
}
input[type="radio"]:checked + label {
    border: 10px solid #76a7e1;
}
input[type="radio"]:checked + label::after {
    color: #fff;
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 16px;
    position: absolute;
    top: -22px;
    right: -35px;
    transform: translateX(-50%);
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background: #76a7e1;
}
label.radio {
    /* font-weight: 900; */
}
@media only screen and (max-width: 700px) {
    section.radio-row {
        flex-direction: column;
    }
}
/* <<< radio */

/* Checkbox source: https://paulund.co.uk/style-checkboxes-with-css */
/*
input[type=checkbox] {
    visibility: hidden;
}
.checkbox {
    position: relative;
}
.checkbox label {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border-color: #70b0f0;
    border-style: solid;
    background-color: #7fbff5;
}
/* Display the tick inside the checkbox
.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    background: transparent;
    border-color: #333;
    border-style: solid;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}
/* Create the hover event of the tick
.checkbox label:hover::after {
    opacity: 0.5;
}
/* Create the checkbox state for the tick
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
*/

/* --- Footer --- */

footer {
    background-color: #444a62; /* c22 */
    color: #b3b9d7; /* c24 */
}

footer h3 {
    color: #c6ccea; /* c23 */
}

footer a:link, footer a:hover, footer a:visited, footer a:active {
    color: #b3b9d7; /* c24 */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* === Semantical === */
address {
    font-style: normal;
}

aside {
    border-color: #e6e8ee; /* c14 */
    border-style: solid;
}

/* === Logo ===
   Repaint BW logo.
   Source: https://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css/39796437
   Color2filter conversion tool: https://codepen.io/sosuke/pen/Pjoqqp
*/

.logo-light { /* c03 #dadde7 */
    -webkit-filter: invert(93%) sepia(11%) saturate(211%) hue-rotate(193deg) brightness(95%) contrast(91%);
    filter: invert(93%) sepia(11%) saturate(211%) hue-rotate(193deg) brightness(95%) contrast(91%);
}

.logo-dark { /* c25 #383d50 */
    -webkit-filter: invert(22%) sepia(4%) saturate(3080%) hue-rotate(191deg) brightness(96%) contrast(91%);
    filter: invert(22%) sepia(4%) saturate(3080%) hue-rotate(191deg) brightness(96%) contrast(91%);
}

/* ======================
   =     Dimensions     =
   = main width = 768px =
   ====================== */

/* --- General --- */

/* --- header --- */

header a {
    width: 110px;
    height: 35px;
    min-width: 110px;
    min-height: 35px;
    border-radius: 5px;
    border-width: 1px;
}

/* --- Main --- */

.block {
    padding: 10px 10px 10px 45px;
}

/* --- Standard UI controls */
/*
.checkbox {
    width: 25px;
    margin: 20px 100px;
}
.checkbox label {
    width: 25px;
    height: 25px;
    border-width: 1px;
}
.checkbox label:after {
    width: 9px;
    height: 5px;
    top: 6px;
    left: 7px;
    border-width: 3px;
}
*/

/* === Semantical === */

aside {
    padding: 10px 10px 10px 45px;
}

/* --- footer --- */




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}