element {
    /* === container === */
    display: flex | inline-flex; /* this element is [!]inline */

    flex-flow: flex-direction || flex-wrap;
    flex-direction: row | row-reverse | column | column-reverse;
    flex-wrap: nowrap | wrap | wrap-reverse;

    /* along direction */
    justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;

    /* across direction, children against siblings */
    align-items: flex-start | flex-end | center | baseline | stretch;

    /* wrapped sequences of children */
    align-content: flex-start | flex-end | center | space-between | space-around | stretch;

    /* === item === */
    order: <int>;

    /* dflt: 0 1 auto */
    flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
    flex-grow: <+int>; // dflt:0, multiplier
    flex-shrink: initial|<+int>; // dflt:0, the bigger the slimmer
    flex-basis: auto | <length>;

    /* individual across direction */
    /* float, clear and vertical-align have no effect on a flex item */
    align-self: auto | flex-start | flex-end |
                center | baseline | stretch;


}