#app-container {
    margin-top: 3rem;
    width: 100%;
    max-width: 800px;

    background-color: lightblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#app-container > * {
    padding: 0.5rem;
}
